@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
  --accent-color: #22D3EE;
  --accent-color-rgb: 34, 211, 238;
  --accent-color-hover: rgba(var(--accent-color-rgb), 0.1);
}

html {
  background-color: #0a0a0a;
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0a0a0a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #2c2c2c;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 2px solid #2c2c2c;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(var(--accent-color-rgb), 0.025);
  border: 1px solid var(--accent-color);
  pointer-events: none;
  display: none;
}

body.selecting::after {
  display: block;
}

body.selecting::after {
  left: var(--selection-left, 0);
  top: var(--selection-top, 0);
  width: var(--selection-width, 0);
  height: var(--selection-height, 0);
}

::selection {
  background: rgba(var(--accent-color-rgb), 0.175);
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 16px;
  background-color: #FBBD2E;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.custom-focus:focus {
  outline: none;
}

.selection-box {
  background: rgba(var(--accent-color-rgb), 0.1);
  border: 1px solid var(--accent-color);
}

.file-hover:hover {
  color: var(--accent-color);
  background-color: var(--accent-color-hover);
}

.hover\:text-cyan-400:hover {
  color: var(--accent-color);
}
